# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore logs
logs/

# Ignore sensitive configuration files
config.ini

# Ignore IDE files
.vscode/
.idea/


*.json